<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center mb-3">

        <div class="f-info-socials">

          <a href="https://github.com/hardiksrivastavaa" class="text-white me-3" target="_blank">
            <i class="fab fa-github fs-4"></i>
          </a>
          <a href="https://instagram.com/hardiksrivastavaaa" class="text-white me-3" target="_blank">
            <i class="fab fa-instagram fs-4"></i>
          </a>
          <a href="https://linkedin.com/in/hardiksrivastavaa" class="text-white me-3" target="_blank">
            <i class="fab fa-linkedin fs-4"></i>
          </a>

        </div>

      </div>

      <div class="col-md-4 text-center mb-3 fs-6">
        <div>&copy; Developed By Hardik Srivastava</div>
      </div>
      
      <div class="col-md-4 text-center">
        <div class="f-info-links fs-6">
          <a href="/" class="text-white me-3">Privacy</a>
          <a href="/" class="text-white">Terms</a>
        </div>
      </div>
    </div>

  </div>
  </div>
</footer>