<nav class="navbar navbar-expand-md bg-body-light border-bottom shadow-sm sticky-top bg-white">

  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="fa-brands fa-airbnb fw-semibold mx-1"></i>
    </a>

    <h1 class="logo_text fw-semibold text-danger my-auto d-inline d-md-none d-lg-none">Wanderlust</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav fw-semibold fs-5 bg-white">
        <a class="nav-link" href="/listings">All Listings</a>
      </div>

      <div class="navbar-brand ms-auto p-2 bg-white d-none d-lg-block">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 rounded-pill px-5 fs-6 fw-semibold" type="search" name="query" placeholder="Search Destination" aria-label="Search">
          <button class="btn btn-search fw-bold rounded-pill" type="submit"><i class="fa-solid fa-magnifying-glass d-inline mx-1"></i>Search</button>
        </form>
      </div>
      
      <div class="navbar-nav fw-semibold fs-5 bg-white ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link fw-semibold" href="/signup">Sign up</a>
          <a class="nav-link fw-semibold" href="/login">Log In</a>
        <% } %>

        <% if (currUser) { %>
              <a class="nav-link fw-bold" href="/logout">Log out</a>
        <% } %>

      </div>
    </div>
  </div>
</nav>