@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boilerplate {
    flex: 1;
}

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */

.f-info-links a {
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Index Page */

.card-img-overlay:hover {
    opacity: 0.5;
    background-color: white;
}

/* New Listing Page */

.btn {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    color: white !important;
    border-radius: 0.5rem !important;
}
#cancel-btn {
    background-color: #222222;
}

#submit-btn {
    background-color: #fe424d;
}

.btn:hover {
    transform:scale(1.05);
    transition: all 0.3s ease-in-out;
}


