@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: #f4f4f4;
    color: #333;
} */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d; 
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
}

#new-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-btn {
    background-color: #007bff;
}

#update-btn {
    background-color: #28a745;
}

#cancel-btn {
    background-color: #6c757d;
}

#delete-btn {
    background-color: #dc3545;
}

#edit-btn {
    background-color: #ffc107;
}

form {
    padding: 20px;
}

input,
textarea {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.single-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 5px auto;
    font-weight: bold;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.single-list img {
    width: 100vw;
    height: 50vh;
    object-fit: contain;
    border-radius: 5px;
}